<div class="page-wrapper bg-red p-t-50 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <form action="/payment/ejemplo/{{dataCourse._id}}" method="post">

                    <!-- boton de enviar datos -->
                    <div class="d-grid pt-4">
                        <button type="submit" class="btn btn-primary">Guardar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>