<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo text-center">
    <div class="wrapper wrapper--w960">
        <div class="card mb-3 card-2">
            <div class="row g-0">
                <div class="col-md-4" id="fondo">
                    {{!-- <img src="/img/imagenes/peluqueria3.jpg" class="img-fluid rounded-start" alt="imagen"> --}}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="title">Buscar Ticket</h2>
                        <div class="table-responsive-md text-center">
                            <br>
                            <table class="table table-dark table-hover">
                                <tr>
                                    <th>Seleccionar</th>
                                </tr>
                                </thead>
                                <tbody id="tabla">
                                    <form action="" method="post">
                                        <tr>
                                            <td class="table-info text-align-center">
                                                <div class="input-group mb-3">
                                                    <button class="btn btn-outline-secondary" type="submit"
                                                        id="button-addon1">buscar</button>
                                                    <input type="search" class="form-control"
                                                        placeholder="ej: 64b0882f13f68f0f0c343e5a"
                                                        aria-label="Example text with button addon"
                                                        aria-describedby="button-addon1">
                                                </div>
                                            </td>
                                        </tr>
                                    </form>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>