<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo text-center">
    <div class="wrapper wrapper--w960">
        <div class="card mb-3 card-2">
            <div class="row g-0">
                <div class="col-md-4" id="fondo">
                    {{!-- <img src="/img/imagenes/peluqueria3.jpg" class="img-fluid rounded-start" alt="imagen"> --}}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="title">Buscar Ticket</h2>
                        <div class="mx-auto">

                            <br><br>

                            <div id="search">
                                <label for="searchTiket">colocar el numero del tiket/boleta</label>
                                <svg viewBox="0 0 420 60" xmlns="http://www.w3.org/2000/svg">
                                    <rect class="bar" />

                                    <g class="magnifier">
                                        <circle class="glass" />
                                        <line class="handle" x1="32" y1="32" x2="44" y2="44"></line>
                                    </g>

                                    <g class="sparks">
                                        <circle class="spark" />
                                        <circle class="spark" />
                                        <circle class="spark" />
                                    </g>

                                    <g class="burst pattern-one">
                                        <circle class="particle circle" />
                                        <path class="particle triangle" />
                                        <circle class="particle circle" />
                                        <path class="particle plus" />
                                        <rect class="particle rect" />
                                        <path class="particle triangle" />
                                    </g>
                                    <g class="burst pattern-two">
                                        <path class="particle plus" />
                                        <circle class="particle circle" />
                                        <path class="particle triangle" />
                                        <rect class="particle rect" />
                                        <circle class="particle circle" />
                                        <path class="particle plus" />
                                    </g>
                                    <g class="burst pattern-three">
                                        <circle class="particle circle" />
                                        <rect class="particle rect" />
                                        <path class="particle plus" />
                                        <path class="particle triangle" />
                                        <rect class="particle rect" />
                                        <path class="particle plus" />
                                    </g>
                                </svg>
                                {{!-- <input type="search" name=q aria-label="Search for inspiration" id="searchTiket" placeholder="ej: 64b0882f13f68f0f0c343e5a "/> --}}
                                <input type=search name=q aria-label="Search for inspiration" id="searchTiket" placeholder="ej: 1,2,3,......"/>
                            </div>

                            <div id="results">

                            </div>


                            <br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>