<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <form action="/course/savePriceMonth/{{dataCurso._id}}" method="post">
                    <h1 class="title text-center">{{dataCurso.nombre}}</h1>
                    <!-- imput de mes a agregar precio -->
                    <div class="input-group mb-4">
                        <label class="input-group-text" for="mes">Mes a agregar precio</label>
                        <input type="month" id="mes" name="mes" 
                        min="{{dataCurso.fechaInicioCurso}}"
                        max="{{dataCurso.fechaFinCurso}}" class="form-control imput-month" name="trip-start">
                    </div>

                    <!-- imput precio del mes seleccionado -->
                    <label for="precioMes" class="form-label">precio del mes</label>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control imput" aria-label="Amount (to the nearest dollar)"
                            id="precioMes" name="precioMes" placeholder="ingresar precio del mes">
                    </div>



                    <!-- boton de enviar datos -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Guardar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>