<div class="container text-center">
    <p class="bienvenidos">bienvenidos</p>



    <div class="row Iam">
        <p class="p">requerimientos de pagos: </p>
        <b class="b">
            <div class="innerIam">
                agregar pago<br />
                editar pago<br />
                eliminar pago<br />
                ver todos los pagos<br />
                ver los pagos efectuados por un alumno<br />
                buscar tiket de pago
            </div>
        </b>
        <p class="p">requerimientos de deudas: </p>
        <b class="b">
            <div class="innerIam">
                agregar deuda<br />
                editar deuda<br />
                eliminar deuda<br />
                ver todos las deudas<br />
                ver la deuda de un alumno
            </div>
        </b>
    </div>
</div>