<div class="container text-center">
  <div class="row col-4  mx-auto">
    <form action="/debt/showDebtAlumn" method="get">
      <p class="correct"> Buscar Deuda de Alumno</p>
      <!-- impot nombre alumno -->
      <div class="mb-4">
        <input type="text" class="form-control imput" id="nombreAlumno" name="nombreAlumno"
          placeholder="ingresar nombre del alumno">
        <label for="nombreAlumno" class="form-label text-color">Nombre del Alumno</label>
      </div>

      <!-- impot apellido alumno -->
      <div class="mb-4">
        <input type="text" class="form-control imput" id="apellidoAlumno" name="apellidoAlumno"
          placeholder="ingresar nombre del alumno">
        <label for="apellidoAlumno" class="form-label">Apellido del Alumno</label>
      </div>

      <!-- boton de enviar datos -->
      <div class="">
        <button type="submit" class="btn btn-primary ">
           <img src="/img/icon/loupe.png" alt="" height="40"> Buscar
        </button>
      </div>
      <br>
    </form>
  </div>
</div>