<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Sixth navbar example">
    <div class="container-fluid">
        <img src="/img/logo/evolutionNLM.jpg" width="70" height="50" class="rounded-circle" alt="Cinque Terre">
        <ul class="navbar-nav ml-5 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <p class="white">home</p><img src="/img/icon/home.png" alt="" height="30">
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-auto" id="navbarsExample06">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                <!-- pagos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                        aria-expanded="false">Cursos
                        <img src="/img/icon/course.png" alt="" height="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                        <li><a class="dropdown-item" href="/course/addCourse">Agregar nuevo curso</a></li>
                        <li><a class="dropdown-item" href="/course/selectAction">Eliminar o Editar un Curso</a></li>
                        <li><a class="dropdown-item" href="/course/selectUp">Dar de Alta un Curso</a></li>
                        <li><a class="dropdown-item" href="/course/showCourse">Ver todos los cursos</a></li>
                        <li><a class="dropdown-item" href="/course/selectCourse">Agregar precio</a></li>
                        <li><a class="dropdown-item" href="/course/selectCoursePriceAction">Editar o eliminar precio</a>
                        </li>
                        <li><a class="dropdown-item" href="/course/selectPriceCourseUp">Dar de alta un precio</a></li>
                    </ul>
                </li>

                <!-- alumnos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                        aria-expanded="false">Alumnos
                        <img src="/img/icon/graduated.png" alt="" height="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                        <li><a class="dropdown-item" href="/alumn/addAlumn">Agregar nuevo Alumno</a></li>
                        <li><a class="dropdown-item" href="">Eliminar o Editar un Alumno</a></li>
                        <li><a class="dropdown-item" href="">Dar de Alta un Alumno</a></li>
                        <li><a class="dropdown-item" href="">Ver todos los Alumnos</a></li>
                        </li>
                        <li><a class="dropdown-item" href="/course/selectPriceCourseUp">Dar de alta un precio</a></li>
                    </ul>
                </li>

                <!-- pagos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                        aria-expanded="false">Pagos
                        <img src="/img/icon/payment-method.png" alt="" height="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                        <li><a class="dropdown-item" href="/pagos/ingresarPago">Agregar pago</a></li>
                        <li><a class="dropdown-item" href="/pagos/editarPago">Editar pago</a></li>
                        <li><a class="dropdown-item" href="/pagos/borrarPago">Eliminar pago</a></li>
                        <li><a class="dropdown-item" href="/pagos/verPago">Ver todos los pagos</a></li>
                        <li><a class="dropdown-item" href="/pagos/verPagoAlumno">Ver pagos efectuados por un
                                alumno</a></li>
                        <li><a class="dropdown-item" href="/pagos/buscarTiket">Buscar tikets de pago</a></li>
                    </ul>
                </li>

                <!-- deudas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                        aria-expanded="false">Deudas
                        <img src="/img/icon/debt.png" alt="" height="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                        <li><a class="dropdown-item" href="/debt/enterDebt">Agregar deuda</a></li>
                        <li><a class="dropdown-item" href="/debt/editDebt">Editar estado deuda</a></li>
                        <li><a class="dropdown-item" href="/debt/deleteDebt">Eliminar Deuda</a></li>
                        <li><a class="dropdown-item" href="/debt/showDebt">Ver todas las Deudas</a></li>
                        <li><a class="dropdown-item" href="/debt/searchDebtAlumn">Ver deuda de alumno</a></li>
                    </ul>
                </li>
            </ul>

            <a href="/users/signin" class="btn btn-outline-secondary text-white" disabled>Crear Usuario
                <img src="/img/icon/add-group.png" alt="" height="40">
            </a>
            <a href="/users/signup" class="btn btn-outline-info text-white">Iniciar Sesion
                <img src="/img/icon/iniciar-sesion.png" alt="" height="40">
            </a>
        </div>
    </div>
</nav>