<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo text-center">
   <div class="wrapper wrapper--w960">
      <div class="card mb-3 card-2">
         <div class="row g-0">
            <div class="col-md-4" id="fondo">
               {{!-- <img src="/img/imagenes/peluqueria3.jpg" class="img-fluid rounded-start" alt="imagen"> --}}
            </div>
            <div class="col-md-8">
               <div class="card-body mx-auto">
                  <h2 class="title">Iniciar Sesion</h2>
                  <form action="/users/signIn/" method="POST" id="formularioIniciarSesion">
                     {{#if data}}
                     <!-- impot nombre usuario -->
                     <div class="input-group mb-4">
                        <label for="email" class="input-group-text">@Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                           placeholder="ingresar nombre del usuario" required value="{{data.email}}">
                     </div>

                     <!-- impot contraseña usuario -->
                     <div class="input-group mb-4">
                        <label for="password" class="input-group-text">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password"
                           placeholder="ingresar la contraseña" required value="{{data.password}}">
                        <div class="input-group-append">
                           <button id="mostrarContraseña" class="btn btn-primary" type="button">
                              <span class="fa fa-eye-slash icon"></span>
                           </button>
                        </div>
                     </div>

                     {{else}}
                     <!-- impot nombre usuario -->
                     <div class="input-group mb-4">
                        <label for="nombreUsuario" class="input-group-text">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario"
                           placeholder="ingresar nombre del usuario" required>
                     </div>

                     <!-- impot contraseña usuario -->
                     <div class="input-group mb-4">
                        <label for="contraseñaUsuario" class="input-group-text">Contraseña</label>
                        <input type="password" class="form-control" id="contraseñaUsuario" name="contraseñaUsuario"
                           placeholder="ingresar la contraseña" required>
                        <div class="input-group-append">
                           <button id="mostrarContraseña" class="btn btn-primary" type="button">
                              <span class="fa fa-eye-slash icon"></span>
                           </button>
                        </div>
                     </div>
                     {{/if}}

                     {{!-- boton de enviar datos --}}
                     <div class="d-grid pt-4">
                        <button type="submit" class="btn btn-primary">
                           <img src="/img/icon/sign-in.png" alt="" height="27">
                           <strong>Iniciar Sesion</strong>
                           <img src="/img/icon/sign-in.png" alt="" height="27">
                        </button>
                     </div>

                     <hr class="my-4">
                     <div class="my-3">
                        <span>No tienes cuenta? <a href="/users/signUp">Registrarse</a></span>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<br><br>