<section class="banner contenedor text-center">
    <secrion class="banner_title">
        <form action="#" method="post">
            <!-- email input -->
            <div class="mb-4">
                <input type="email" class="form-control" id="email" name="email">
                <label for="email" class="form-label">Correo Electronico</label>
            </div>

            <!-- Password input -->
            <div class="form-group form-outline mb-4">
                <div class="input-group">
                    <input ID="txtPassword" type="Password" Class="form-control">
                    <div class="input-group-append">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()">
                            <span class="fa fa-eye-slash icon"></span></button>
                    </div>
                </div>
                <label class="form-label" for="txtPassword" style="margin-left: 0px;">password</label>
            </div>

            <div class="mb-4 form-check">
                <input type="checkbox" name="connected" class="form-check-input" id="con">
                <label for="connected" class="form-check-label">Mantenerme Conectado</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>

            <div class="my-3">
                <span>No tines cuenta? <a href="#">Registrarse</a></span>
            </div>

            <!-- Register buttons -->
            <p>iniciar sesion  con:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>
        </form>
    </secrion>
    <div class="banner_img">
        <img src="/img/imganes/img.png" alt="">
    </div>
</section>